* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-image: url("uox.jpg");
}
a:link, a:visited{
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
  background: darkgray;
  width: 120px;
  text-align: center;
  padding: 4px;
}
a:hover,a:active{
  background-color: dimgray;
}

#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  filter: blur(2px);
   -webkit-filter: blur(2px);
  width: 50%;
  height: 50%;
}
#title_layout{
  vertical-align: middle;
  width: 50%;
  background-color: #4CAF50;
}

#list{
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  width: 80%;
  height: 50%;
  
}




ul li{
  list-style: none none;
  margin:10px;
  float:right;
}
#map{
  align-content: center;
  height:auto;
  width:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

#leaderboard {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20pt;
}

#leaderboard td, #leaderboard th {
  border: 1px solid #ddd;
  padding: 8px;
}

#leaderboard tr:nth-child(even){background-color: lightgreen}
#leaderboard tr:nth-child(odd){background-color: lightgray}

#leaderboard tr:hover {background-color: lightseagreen; color: white;}

#leaderboard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}


#map-container{
  display: flex;
  justify-content: center;
  height: auto;
  width: 40%;
  max-height: 60%;
  max-width: 60%;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
}

#map-container #map-image{
  position: relative;
  display: block;
  max-height: 100%;
  height:auto;
  max-width: 100%;
  width:100%;
  border-style: solid;
  border-color: rgb(93, 228, 89);
  z-index: 1;
}

#map-container #pointer{
  height: 4px;
  width: 4px;
  z-index: 2;
  position: absolute;
}

#map{
  position: center;
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  border-color: black;
  background-color: black;
}