* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url("uox.jpg");
}

a:link, a:visited{
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
  background: darkgray;
  width: 120px;
  text-align: center;
  padding: 4px;
}

a:hover,a:active{
  background-color: dimgray;
}

#img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  filter: blur(2px);
   -webkit-filter: blur(2px);
  width: 50%;
  height: 50%;
}

#title_layout{
  vertical-align: middle;
  width: 50%;
  background-color: #4CAF50;
}

.nav{
  height: 100px;
  width: 100%;
  list-style: none none;
  float: bottom;
  margin: 20px;

}
ul li{
  list-style: none none;
  float: right;
  margin: 20px;
}

#map-container{
  display: flex;
  justify-content: center;
  height: auto;
  width: 40%;
  max-height: 60%;
  max-width: 60%;
  margin-left: 30%;
  margin-right: 30%;
  position: relative;
}

#map-container #map-image{
  position: relative;
  display: block;
  max-height: 100%;
  height:auto;
  max-width: 100%;
  width:100%;
  border-style: solid;
  border-color: rgb(93, 228, 89);
  z-index: 1;
}

#map-container #pointer{
  height: 4px;
  width: 4px;
  z-index: 2;
  position: absolute;
}

#map{
  position: center;
  height: 40%;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  border-color: black;
  background-color: black;
}

#riddle{
  text-align: center;
  background-color: yellow;
  border-width: 5px;
  border-color: black;
}

#backupimg{
  height: 40%;
  width: 40%;
}
