<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="Style.css">
    <title>Game</title>
</head>
<body>
    <ul class="nav">
        <li><a href="Setting.html">Setting</a></li>
        <li><a href="Login.html">Logout</a></li>
        <li><a href="Location.html">Location</a></li>
        <li><a href="Introduce.html">Introduction</a></li>
        <li><a href="Game.html">Game</a></li>
        <li><a href="Campus%20Exploration.html">Home</a></li>
    </ul>

</body>
</html>