<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- GEOLOCATION COORDINATES:
    TOP LEFT = 50.74017321339022, -3.5414134914587665
    BOTOOM RIGHT = 50.73197722780606, -3.5245896012225106
    -->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'Style.css' %}">
    <title>Location</title>
    <script>
    const watchID = navigator.geolocation.watchPosition((position) => {
        movePointToLocation(position.coords.latitude, position.coords.longitude);
    });

    const geoLatLeft = 50.74017321339022;
    const geoLatRight= 50.73197722780606;

    const geoLongTop = -3.5414134914587665;
    const geoLongBottom =  -3.5245896012225106;

    function movePointToLocation(latitude, longitude) {
        var geoLatDist = geoLatLeft - geoLatRight;
        var geoLongDist = geoLongTop - geoLongBottom;
            console.log(latitude,longitude)
       // console.log(geoLatDist, geoLongDist)
        //console.log((latitude - geoLatLeft),(longitude - geoLongTop))
        var userRelDown =  (latitude - geoLatLeft) / geoLatDist * -1;
        var userRelAcross = (longitude - geoLongTop) / geoLongDist * -1;

        console.log(userRelAcross, userRelDown);

        if (userRelAcross > 0 && userRelAcross < 1 && userRelDown > 0 && userRelDown < 1){
            placeLocation(userRelAcross, userRelDown);
            //this block of code does not execute at all so im guessing
            // it thinks we are out of bounds but actually we are
            // in harrison now so it should work
        }

    }

    function placeLocation(normX, normY){
        var mapContainer = document.getElementById("map-container");
        var pointer = document.getElementById("pointer");
        
        var pointerX = (normX * (mapContainer.clientWidth)-2)+"px";
        var pointerY = (normY * (mapContainer.clientHeight)-2)+"px";

        window.alert("it worked")

        pointer.style.left = pointerX;
        pointer.style.top = pointerY;
    }

    window.onload=function (){

        if('geolocation' in navigator) {
            window.alert("Geolocation Available")
        } else {
            window.alert("Geolocation Not Available")
        }

    }
</script>
</head>
<body>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAncIcVTKQ75ycVVw1fpspEhI3TWk8va2w&callback=initMap">

    </script>
<div id="nav">
    <ul class="nav">
        <li><a href="{% url 'settings' %}">Settings</a></li>
        <li><a href="{% url 'login' %}">Logout</a></li>
        <li><a href="{% url 'location' %}">Location</a></li>
        <li><a href="{% url 'introduce' %}">Introduction</a></li>
        <li><a href="{% url 'game' %}">Game</a></li>
        <li><a href="{% url 'campus_exploration' %}">Home</a></li>
    </ul>
</div>
<br><br><br>
<div id="map-container">
    <img id ="map-image" src="{% static 'map.png' %}" alt="img">
    <img id="pointer" src="{% static 'red_dot.png' %}" alt="img" style = "height: 2% ;width: 2%">

</div>
<!--
<script>
        function initMap()
        {
            var options = {
                centre:{lat:50.7184,lng:3.5339},
                zoom:8
            }
            var map = new
            google.maps.Map(document.getElementById("googleMap"),options);
        }
    </script>

-->
</body>

</html>