<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <title>UOE prototype app</title>
  </head>
  <body>
    <div class ="userform">
         <div id = "title_layout">
            <h1>welcome to "unnamed"</h1>
         </div>
	 <img id = "img" src="{% static 'UOE.gif' %}"  alt="gif" />
        <div class ="centered">
          <h1 id = "loginpos">Login</h1>
	  <form method="POST" action="{% url 'login' %}" id = "form1">
	  {% csrf_token %}	
          <input type="text" placeholder="Enter Email" id = "AccountNumber"  name="email" size="30" >
          <br>
          <input type="password" placeholder="Enter Password" id = "Password"  name="psw" size="30" >
          <br>
          <button type="submit" form="form1">Login</button>
	  </form>
	  <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
  </body>
</html>
