<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>

    <div class ="userform">
            <div id = "title_layout">
                  <h1>Create a New Account</h1>
            </div>
	    <img id = "img" src="{% static 'UOE.gif' %}" alt="gif" />
            <div class ="centered">
                <h1 id = "loginpos">Register</h1>
                <input type="email" placeholder="Please enter the email" id = "RegisteredAccountNumber" size="30">
                <br> 
                <input type="password" placeholder="Please enter the password" id = "RegisteredPassword" size="30">
                <br>
                 <input type="password" placeholder="Please ensure the password" id = "RegisteredPassword1" size="30">
                <br>
                <button>Register</button>
		<p>Already have an account? <a href="{% url 'login' %}">Log in</p>
            </div>

    </div>
</body>
</html>
